<mat-card>
<mat-card-header>
<mat-card-title>Create product</mat-card-title>
</mat-card-header>
<mat-card-content>
<form class="example-form">
<mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="name" [value]="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <input matInput placeholder="description" [value]="description">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Image path</mat-label>
    <input type="search" matInput placeholder="image" [value]="image_path">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Length</mat-label>
    <input matInput placeholder="length" [value]="length">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Color</mat-label>
    <input matInput placeholder="color" [value]="color">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Style</mat-label>
    <input matInput placeholder="style" [value]="style">
  </mat-form-field>
</form>
</mat-card-content>
</mat-card>
